$default_padding: 15px;
$default_margin: 20px;
$box_size: 400px;

* {
    box-sizing: border-box;
}
body {
    min-width: 500px !important;
    width: auto !important;
}

/*------------------grid------------------*/

.grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    background-color: #2196F3;
    padding: $default_padding;
    color: aliceblue;
}
/*------------------responsivness------------------*/
@media only screen and (max-width: 767px) {
    .grid-container {
        background-color: #2196F3;
        padding: $default_padding;
    }

    main {
        order: 1;
        width: 100%;
    }
    main div {
        width: 80%;
    }
    .fs-main {
        background-color: green;
        order: 3;
    }

    .sd-main {
        background-color: yellow;
        order: 4;
    }

    .td-main {
        background-color: black;
        order: 5;
    }

    footer {
        order: 5;
    }

    nav a {
        display: none;
    }

    .smallMenu {
        display: block;
    }
}

@media only screen and ( min-width: 768px) and ( max-width: 1023px ) {
    main {
        width: 91.6%;
    }

    .fs-main {
        background-color: white;
        width: 100%;
        order: 3;
    }

    .sd-main {
        order: 4;
        background-color: black;
    }

    .td-main {
        order: 5;
        background-color: green;
    }

    nav a {
        display: none;
    }
    .smallMenu {
        display: block;
    }

}

@media only screen and ( min-width: 1024px ) {
    main {
        width: 66.6%;
        display: flex;
        flex-flow: row;
    }
    .fs-main {
        background-color: yellow;
        order: 1;
    }

    .sd-main {
        background-color: green;
        order: 1;
    }

    .td-main {
        order: 1;
        background-color: black;
    }

    .smallMenu{
        display: none;
    }

}

/*------------------header------------------*/
header {
    background-color: bisque;
}

/*------------------navgation------------------*/
nav {
    background-color: burlywood;
    width: auto;
}

nav a {
    text-decoration: none;
    grid-area: navigation;
    background-color: white;
    color: black;
}

nav a:hover {
    background-color: darkslategrey;
    color: white;
}

img {
    width: 32px;
    height: 32px;
}
/*------------------main content------------------*/
main div{
    margin: $default_margin;
    padding: $default_padding;
    height: $box_size;
    width: $box_size;
}

/*------------------footer------------------*/
footer {
    text-align: center;
    background-color: chartreuse;
    height: 150px;
}
