$default_padding: 15px;
$default_margin: 20px;
$box_margin: 20px 0px 20px 0px;
$box_size: 300px;
$primary_color: #2196F3;
$secondary_color: #175A8B;
$secondary_font_color: #F0F0F1;
$main_content_color: #25272A;
/*------------------responsivness------------------*/
@media only screen and (max-width: 767px) {
    .grid-container {
        background-color: $primary_color;
        padding: $default_padding;
        justify-content: center;
    }

    main {
        margin: auto;
    }

    nav a {
        display: none;
    }

    .smallMenu {
        display: block;
    }
}

@media only screen and ( min-width: 768px) and ( max-width: 1023px ) {
    main {
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .first{
        width: 100%;
        margin: 20px 0 20px 0;
        order: 1;
    }
    .first .content{
        top: 100px;
    }

    main div{
        margin: auto;
        order: 2;
    }

    nav a {
        display: none;
    }

    .smallMenu {
        display: block;
    }
}

@media only screen and ( min-width: 1024px ) {
    .grid-container {
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    main {
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main div{
        margin: auto;
    }

    .smallMenu {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%; /*stretches web page over the browser height*/
    position: relative;
    padding: 2px;
    background-color: $primary_color;
}


/*------------------grid------------------*/

.grid-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    padding: $default_padding;
    color: aliceblue;
}

/*------------------header------------------*/
header {
    background-color: $secondary_color;
    color: $secondary_font_color;
    margin: auto;
    height: 100px;
    width: 100%;
    display: table;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-size: 4em;
}

/*------------------navgation------------------*/
.links {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

nav {
    width: auto;
    float: right;
    padding: 10px;
    margin: 0px;
}

nav a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 20px;
}

nav a:hover {
    background-color: $primary_color;
    color: white;
}

img {
    width: 64px;
    height: 64px;
}
/*------------------main content------------------*/
main{
    margin-bottom: 75px;    /*don't touch footer*/
}
main div {
    width: $box_size;
    height: $box_size;
    margin: $box_margin;
    background-color: $secondary_color;
    padding: 2px;
    color: $secondary_font_color;
    position: relative; /*set to enable children positioning*/
}

.bordered {
    border: 2px solid;
    border-color: $secondary_font_color;
}

.title {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    padding: 10px;
    background-color: $main_content_color;
    color: $secondary_font_color;
}
.content {
    position: absolute;
    top: 30px;
    text-wrap: normal;
    text-align: justify;
    font-size: 14px;
    padding: 10px;
    overflow-y: no-display;
}
/*------------------footer------------------*/
footer {
    text-align: center;
    background-color: $secondary_color;
    color: $secondary_font_color;
    height: 75px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: 10px;
    padding: 10px;
}
